body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Избегаем прокрутки */
}

#map { 
  position: absolute;
  top: 60px; /* Учитываем высоту хедера */
  left: 0;
  right: 0;
  bottom: 0;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  height: 60px;
  box-sizing: border-box;
  z-index: 1000; /* Чтобы быть поверх карты */
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#username {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

#locate-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Чтобы быть поверх карты */
}

#locate-button i {
  font-size: 24px;
  color: #007bff;
}

#locate-button:hover {
  background-color: #f0f0f0;
}
